.title {
    position: relative;
    z-index: 1;
}
.title:before {
    content: "";
    width: 120px;
    height: 10px;
    background-color: #0074d9;
    opacity: 0.2;
    display: block;
    position: absolute;
    left: -10px;
    z-index: -1;
    bottom: 2px;
}